include ~templates/variables
block variables

doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="theme-color" content="#303841")
		title #{title}
		block styles
			link(rel="stylesheet" href=assetsSrc + "index.css")

	body
		block content

		block scripts
			script(src=assetsSrc + 'index.js')
