.section-xbox.js-section-xbox-1
	.section-xbox__head
		.section-xbox__title Canvas из sprite.png
		.section-xbox__title по кадру относительно скролла (центр окна)
			span(data-rel="frame.info")
	.section-xbox__img
		img(src="https://via.placeholder.com/500x500" alt="" data-rel="placeholder")
		canvas(data-img="assets/images/xbox-sprite.jpg" data-frames="30")

.section-xbox.js-section-xbox-2
	.section-xbox__head
		.section-xbox__title Canvas из sprite.png
		.section-xbox__title Loop анимации
			span(data-rel="frame.info")
	.section-xbox__img
		img(src="https://via.placeholder.com/500x500" alt="" data-rel="placeholder")
		canvas(data-img="assets/images/xbox-sprite.jpg" data-frames="30")

.section-xbox.js-section-xbox-3
	.section-xbox__head
		.section-xbox__title Canvas из sprite.png
		.section-xbox__title Анимация при видимости вперед/назад относительно скролла
			span(data-rel="frame.info")
	.section-xbox__img
		img(src="https://via.placeholder.com/500x500" alt="" data-rel="placeholder")
		canvas(data-img="assets/images/xbox-sprite.jpg" data-frames="30")
